<div class="card h-100">
  <div class="text-center">
    <div class="card-body mt-2">
      <h4 class="card-title"><a href="/calendars">달력 리스트</a></h4>
      <h6 class="card-subtitle mb-2 text-muted">Calendar List</h6>
      <% @calendars.each do |calendar| %> 
      <p class="card-text"><a href="/calendars/<%= calendar.id %>"><%= calendar.name %></a></p>
      <% end %>
    </div>
  </div>
</div>