<nav class="navbar-light bg-white">
<div class="container mx-0 mx-sm-auto">
	<button class="navbar-toggler navbar-toggler-right mt-2 collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand py-3" href="/"></a>
	<div class="navbar-collapse align-self-end collapse" id="navbarNavDropdown" aria-expanded="false" style="">
		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item">
			<a class="nav-link pt-3 px-2 mx-3" href="/ideathon">메인화면</a>
			</li>
			<li class="nav-item">
			<a class="nav-link pt-3 px-2 mx-3" href="/ideathon">일정등록</a>
			</li>
			<li class="nav-item dropdown ">
			<a class="nav-link pt-3 px-2 mx-3" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Q&A </a>
			<div class="dropdown-menu text-center px-3" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item py-2 px-1" href="/lectures">메인 강의</a>
				<a class="dropdown-item py-2 px-1" href="/secondary_lectures">보조 강의</a>
			</div>
			</li>
			<li class="nav-item">
			<a id="messages-tab" class="nav-link pt-3 px-2 mx-3 mx-lg-0" href="/talks">
			<i class="fa fa-envelope-o" aria-hidden="true"></i>
			</a></li>
			<li class="nav-item dropdown">
			<a class="nav-link pt-3 px-2 mx-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			이승미 </a>
			<div class="dropdown-menu text-center px-3" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item py-2 px-1" href="/users/915">MYPAGE</a>
				<a class="dropdown-item py-2 px-1" rel="nofollow" data-method="delete" href="/users/sign_out">LOGOUT</a>
			</div>
			</li>
		</ul>
	</div>
</div>
</nav>