

<!-- Navigation -->
<nav style="background-color:#FF7661!important" class="navbar navbar-light bg-light">
<a class="navbar-brand py-3" href="/calendars">
      <img class="logo" src="/resource/img/logo.png" alt="Unilion logo b">
</a>
<button class="navbar-toggler navbar-toggler-right collapsed align-self-center mt-2" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item">
		<a class="nav-link" href="#">Main view</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">일정등록</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="#">Q&A</a>
		</li>
	</ul>
</div>
</nav>