<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="">
	<div class="row">
		<div class="col-12">
			<div id="profile_card" class="card hovercard">
				<div class="cardheader">
				</div>
				<div class="avatar">
					<img alt="" src="/resource/img/pro.jpg">
				</div>
				<div class="info">
					<div class="title">
						<a target="_blank" href="http://scripteden.com/"><%= current_user.name %></a>
					</div>
					<div class="desc">
						한국대학교
					</div>
					<div class="desc">
						안녕하세요.
					</div>
				
				</div>
				<!--<div class="bottom">-->
				<!--	<a class="profile_btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">-->
				<!--	<i class="fa fa-twitter"></i>-->
				<!--	</a>-->
				<!--	<a class="profile_btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com/+ahmshahnuralam">-->
				<!--	<i class="fa fa-google-plus"></i>-->
				<!--	</a>-->
				<!--	<a class="profile_btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">-->
				<!--	<i class="fa fa-facebook"></i>-->
				<!--	</a>-->
				<!--	<a class="profile_btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">-->
				<!--	<i class="fa fa-behance"></i>-->
				<!--	</a>-->
				<!--</div>-->
			</div>
		</div>
	</div>
</div>