 <div class="align-self-end font-weight-light font-size-sm" id="ttest">
          
          
          <a class="my-2 ml-2 ml-md-3 text-color-slate" href="/post/<%=@post.id%>/edit">수정하기</a>
          <a class="my-2 ml-2 ml-md-3 text-color-slate" href="/post/<%=@post.id%>/delete">삭제하기</a>
          <a class="my-2 ml-2 ml-md-3 text-color-slate" href="/post/index">목록으로</a>
        </div>