<style>
  
</style>
<html lang="en">

  <head>

  </head>

  <body id="page-top">

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <img src="/css/logo.png" class="img-fluid" alt="Responsive image">
              
              <div class="container">
              <h3 class="m-2 p-2"></h3>
              <h5 class="m-2 p-2">모캘은 여러분의 스케줄을 알고 있습니다.</h5>
              <h5 class="m-2 p-2">클릭 한 번으로 캘린더를 완성하세요!</h5>
              <h4 class="m-2 p-2">스케줄 공유 서비스 <strong>Modoo's Calendar</strong></h4>
              </div>
              <br><br>
              <% if user_signed_in? %>
                <%= link_to 'Enter', destroy_user_session_path, method: 'delete', class: "btn btn-outline btn-xl ml-5 mr-5" %>
                <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: "btn btn-outline btn-xl ml-5" %>
              <% else %>
                <%= link_to 'Sign in', new_user_session_path,  class: "btn btn-outline btn-xl ml-5 mr-5" %>
                <%= link_to 'Sign up', new_user_registration_path,  class: "btn btn-outline btn-xl ml-5" %>
              <% end %>
              <br><br><br><br><br><br><br><br>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="css/main.png" class="img-fluid" alt="" style="height:510px;">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    
   

    <!-- Footer -->
    <footer>
      <div class="container">
        <ul style="text-align: center" class="list-inline">
          <li class="list-inline-item">
            <a style="color:#FF7661" href="#">Main view</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a  style="color:#FF7661" href="#about">일정등록</a>
          </li>
          <li class="footer-menu-divider list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a  style="color:#FF7661" href="#services">Q&A</a>
          </li>
         
        </ul>
        <p style="text-align: center" class="copyright text-muted small">Developed by Min woong,  Sang min,  Na young,  Seung mi</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>-->
    <!--<script src="vendor/popper/popper.min.js"></script>-->
    <!--<script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->

    <!-- Plugin JavaScript -->
    <!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

    <!-- Custom scripts for this template -->
    <!--<script src="js/new-age.min.js"></script>-->

  </body>

</html>