<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="trevi.css">
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
     <nav class="navbar navbar-inverse nav" style="background:black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
    <div class="pos-f-t">
     <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-inverse p-5">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
</div>
<section class="container py-3">

    <ul class="nav flex-wrap">
      <li class="nav-item ">
        <a class="nav-link pt-3 px-2 mr-3" href="/posts?query=true">Q&A</a>
      </li>

    </ul>

    <div class="pt-4 mt-2 mb-5">

      <div class="pt-2 pt-sm-3 pt-lg-4 px-3 px-sm-4 px-lg-5 pb-2 pb-lg-3 mb-4 bg-white b-gray-1 br-5px d-flex flex-column font-weight-light">

        <h4 class="my-2 my-lg-3 font-weight-light">
          '미션픽커' 함께 개발하실 분 모집합니다^^
        </h4>

        <hr class="my-2 my-lg-3 w-100">

        <div class="align-self-end font-size-sm">
          <span class="ml-2 ml-md-3 ml-lg-4"><a class="text-color-slate text-color-slate-hover" href="/users/60">신황식</a></span>
          <span class="ml-2 ml-md-3 ml-lg-4">2017.08.06. 23:19</span>
          <span class="ml-2 ml-md-3 ml-lg-4">89 읽음</span>
        </div>


        <div class="my-3">
          <p>서비스의 대략적인 내용은</p>
<p><a href="../ideathon/ideas/107">미션픽커</a></p>
<p>위 링크로 가시면 볼 수 있습니다!</p>
<p>함께 개발하고 해커톤 같이 나가실 분 모집합니다.</p>
<p>카카오톡ID : hssin77 &nbsp;로 연락 바랍니다</p>
<p>많은 관심 부탁드려요!</p>
        </div>

        <div class="align-self-end font-weight-light font-size-sm">
          
          
          <a class="my-2 ml-2 ml-md-3 text-color-slate" href="/posts?query=false">목록으로</a>
        </div>

        <!-- comments -->

        <div class="mt-2 font-size-sm">
          댓글 <span id="comments-count-Post-98">0</span>
        </div>

        <hr class="my-2 my-lg-3 w-100">

        <div id="post-comments-Post-98">
          
        </div>
      </div>


      <form class="new_comment" id="new_comment" action="/comments" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">

        <input type="hidden" value="98" name="comment[commentable_id]" id="comment_commentable_id">
        <input type="hidden" value="Post" name="comment[commentable_type]" id="comment_commentable_type">
        <textarea autocomplete="off" rows="6" class="form-control p-3 p-md-4 p-lg-5 mb-4 border-0 bxs-gray bg-white bg-white-hover" placeholder="여기에 댓글을 쓰세요 :)" name="comment[contents]" id="comment_contents"></textarea>

        <div class="text-right">
          <input type="submit" name="commit" value="답변하기" class="btn btn-thin btn-secondary" data-disable-with="답변하기">
        </div>

</form>
    </div>

</section>

       
</html>