.calendar_box{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
    height: 100px;
}

#calendar_add_btn{
    color: #ff7661;
}

.fc-event{
    background-color: #FF7661 !important;
    border: 1px solid #cc5644 !important;
}
